.parent {
  height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
}

.drop {
  background: #ecf0f1;
  padding: 8px;
}

.fileMeta:not(:empty) {
  padding: 8px;
  background: #bdc3c7;
  font: 16px monospace;
}

.main {
  background: #bdc3c7;
  display: grid;
  grid-template-columns: auto 1fr;
}

.hexViewer {
  background: #d35400;
}

.hexAccessory {
  padding: 8px;
}

.range {
  background: #3498dbc7 !important;
  border-radius: 5px;
}

.range-begin {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.range-mid {
  border-radius: 0;
}

.range-end {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* .range-begin * {
  background: none !important;
} */
